@import "./App.scss";

main.has-navbar {
  padding-top: 4.5rem;
  min-height: calc(100vh - 91px - 80px - 2rem);
}

@media screen and (min-width: 768px) {
  main.has-navbar {
    padding-top: 7rem;
  }
}
