@import "../App.scss";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  backdrop-filter: blur(10px);

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-top: 20vh;

  overflow-y: scroll;

  .modal__filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color--grey--900;
    opacity: 0.3;
    animation: modal-mobile-show-filter 0.5s ease-in-out;
  }

  .modal__container {
    background-color: $color--white;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    animation: modal-mobile-show-container 0.5s ease-out;
    z-index: 20;
    overflow-y: scroll;
    margin-bottom: 83px;
    max-height: 80vh;
    .mobile-drag {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1.25rem 0 0.875rem 0;
      &::after {
        content: "";
        height: 6px;
        width: 100px;
        display: block;
        background-color: $color--grey--200;
        border-radius: 5px;
      }
    }
    .filters__container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .input--search-bar {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.1777 12.9299C16.1661 11.5841 16.75 9.92275 16.75 8.125C16.75 3.63769 13.1123 0 8.625 0C4.13769 0 0.5 3.63769 0.5 8.125C0.5 12.6123 4.13769 16.25 8.625 16.25C10.4232 16.25 12.085 15.6658 13.4309 14.6769L13.4299 14.6777C13.4667 14.7277 13.5078 14.7756 13.553 14.8208L18.3661 19.6339C18.8543 20.122 19.6457 20.122 20.1339 19.6339C20.622 19.1457 20.622 18.3543 20.1339 17.8661L15.3208 13.053C15.2756 13.0078 15.2277 12.9667 15.1777 12.9299ZM15.5 8.125C15.5 11.922 12.422 15 8.625 15C4.82804 15 1.75 11.922 1.75 8.125C1.75 4.32804 4.82804 1.25 8.625 1.25C12.422 1.25 15.5 4.32804 15.5 8.125Z' fill='%23667085'/%3E%3C/svg%3E%0A");
        background-position: left 8px center;
        background-repeat: no-repeat;
        padding: 8px 12px 8px 36px;
        @include shadow--xs();
      }
      .filters__header {
        .buttons {
          display: none;
        }
      }
      .filters__line {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .filters__list {
          display: flex;
          align-items: flex-start;
          gap: 1rem;
          overflow-x: scroll;
          margin: 0 -1rem;
          padding: 0 1rem;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .filter__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            .filter--square {
              height: 17vw;
              width: 17vw;
              min-height: 4rem;
              min-width: 4rem;
              max-width: 8rem;
              max-height: 8rem;
              border: 1px solid $color--grey--200;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              @include shadow--xs();
              transition: background-color 0.2s ease-in-out;

              &.active {
                background-color: $color--primary--500;
              }

              img {
                height: 9vw;
                width: 9vw;
                min-width: 2.25rem;
                min-height: 2.25rem;
                max-width: 5rem;
                max-height: 5rem;
                object-fit: cover;
              }
            }
            p {
              @extend .text--xs;
              text-align: center;
              color: $color--grey--700;
            }
          }
        }
        .filters__list--wrap {
          display: flex;
          align-items: flex-start;
          gap: 0.5rem;
          flex-wrap: wrap;
          .filter--round {
            padding: 0.5rem 1rem;

            @extend .text--sm;
            border: 1px solid $color--grey--200;
            @include shadow--xs();
            border-radius: 50px;
            color: $color--grey--600;
            transition: background-color 0.2s ease-in-out;

            &.active {
              background-color: $color--primary--500;
              color: $color--white;
            }
          }
        }
        .filters__list--inputs {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 0.5rem;
          .input-field {
            flex: 1;
            input {
              width: 100%;
            }
          }
        }
      }
      .more-filters.visible {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      .more-filters.hidden {
        display: none;
      }
      button.see-more {
        @extend %action-button;
        @extend %action-button--lg;
        @extend %action-button--grey--border;
      }
      p {
        @extend .text--sm;
        color: $color--grey--700;
        font-weight: 500;
      }
    }

    .buttons-line {
      display: flex;
      flex-direction: row;
      gap: 8px;
      position: fixed;
      border-top: 1px solid $color--grey--200;
      padding: 1rem;
      bottom: 0;
      width: 100%;
      background-color: $color--white;
      z-index: 20;
      .search {
        @extend %action-button;
        @extend %action-button--xl;
        @extend %action-button--primary--solid;
        width: 100%;
        flex-grow: 2;
      }
      .reset {
        flex-shrink: 0;
        @extend %action-button;
        @extend %action-button--xl;
        @extend %action-button--primary--border;
      }
    }

    .buttons {
      .search {
        @extend %action-button;
        @extend %action-button--md;
        @extend %action-button--primary--solid;
        width: 100%;
        flex-grow: 2;
      }
      .reset {
        flex-shrink: 0;
        @extend %action-button;
        @extend %action-button--md;
        @extend %action-button--primary--border;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .modal {
    align-items: center;
    padding: 10vh 10vw;
    overflow: hidden;
    .modal__container {
      max-width: 60%;
      min-width: 700px;
      border-radius: 1rem;
      animation: modal-mobile-show-container 0.5s ease-out;
      z-index: 20;
      overflow: hidden;
      margin-bottom: initial;
      max-height: initial;
      padding: 1.5rem;
      .mobile-drag {
        display: none;
      }
      .buttons-line {
        display: none;
      }
      .filters__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        .filters__line {
          padding: 1rem;
          border-radius: 1rem;
          border: 1px solid $color--grey--200;
          .filters__list {
            flex-wrap: wrap;
            // gap: 1rem;
            row-gap: 0.5rem;
            column-gap: 1rem;
          }
        }
        .filters__header {
          width: 100%;
          display: flex;
          flex-basis: 100%;
          gap: 0.5rem;
          .buttons {
            display: flex;
            gap: 0.5rem;
          }
          .input-line.search {
            flex: 1;
          }
        }
        & > * {
          flex-basis: calc(50% - 8px);
        }
        .more-filters.hidden {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem;
          flex-basis: 100%;

          & > * {
            flex-basis: calc(50% - 8px);
          }

          .cooking-time {
            order: 1;
          }
        }

        .filters__line {
          .filters__list {
            .filter__item {
              .filter--square {
                height: 4rem;
                width: 4rem;

                img {
                  height: 2.25rem;
                  width: 2.25rem;
                  object-fit: cover;
                }
              }
            }
          }
        }

        button.see-more {
          display: none !important;
        }
      }
    }
  }
}

@keyframes modal-mobile-show-container {
  from {
    transform: translateY(+100vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes modal-mobile-show-filter {
  from {
    opacity: 0;
    background-color: transparent;
  }
  to {
    opacity: 0.3;
    background-color: $color--grey--900;
  }
}
